@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap");


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* html{
    font-family: Arial, Helvetica, sans-serif;
} */
body {
    color: #6c6c6f;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
}
a{
    text-decoration: none;
    background-color: transparent;
}
img{
    display: block;
    width: 100%;
    height: auto;
}


section {
    display: block;
    position: relative;
    padding: 50px 0;
    width: 100%;
}
/* header */
#main .header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    display: block;
    overflow: hidden;
}
.container {
    /* min-width: 1200px; */
    max-width: 1140px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    
}

.header-item{
    align-items: flex-end !important;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.logo{
    max-width: 110px;
    display: block;
}


.nav{
    display: block;
    position: relative;
}
.nav .mobile-menu, .footer .foo-nav .mobile-menu {
    display: none;
}

.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav li a{
    color: #263a41;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}

.nav li:hover a{
    color: #ff817e;
}

/* banner */
.banner{
    padding-top: 15%;
    background: url('https://demo.themeies.com/leospa/images/leaf.png') no-repeat left center/12.5% ;
    padding: 12% 0;
    
}


.banner .spa-img{
    width: 43.4%;
    position: absolute;
    right: 0;
    top: 0;
}

.banner span{
    color: #ff817e;
    display: block;
    font-family: "Rufina", serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.banner h2{
    color: #1e2528;
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 25px;
    font-family: "Rufina", serif;
    font-weight: 700;
    
}

.banner p{
    color: #555;
    margin-bottom: 50px;
}
.btn{
    background-color: #ff817e;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 0.8;
    text-transform: uppercase;
    min-width: 170px;
    padding: 20px 15px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
}
.btn:hover{
    color: #1e2528;
    font-style: bold;
    font-weight: 600;
}
.banner .video-btn{
    margin-left: 15px;
    color: #555;
    font-size: 15px;
    font-weight: 400;
}

.video-btn i{
    border-radius: 50%;
    background-color: #fcf5ee;
    color: #ff817e;
    display: inline-block;
    line-height: 44px;
    text-align: center;
    margin-right: 10px;
    height: 44px;
    width: 44px;
}

/* about */


.about{
    text-align: center;
}

.about .flower1{
    left: 16%;
    top: 0;
    max-width: 150px;
    position: absolute;
}
.about .flower2{
    right: 135px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 88px;
    position: absolute;
}

.m-auto{
    margin: auto !important;
}

.sec-heading{
    margin-bottom: 70px;
    position: relative;
    text-align: center;
}
.sec-heading img{
    max-width: 84px;
    margin: 0 auto 40px;
}

.sec-heading .tagline{
    color: #888;
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 0.8;
    text-transform: uppercase;
    margin-bottom: 27px;
}

.sec-heading .sec-title{
    color: #1e2528;
    font-size: 42px;
    margin-bottom: 42px;
    font-family: "Rufina", serif;
    font-weight: 700;
    line-height: 1.2;
}

.sec-heading p{
    color: #888;
    margin-bottom: 0;
}

.btn-round{
    border-radius: 50px;
    cursor: pointer;
    
}

/* service */

.service .service-caro{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.owl-carousel{
    display: none;
    width: 100%;
    z-index: 1;
}
.owl-carousel .owl-drag .owl-item{
    user-select: none;
    touch-action: pan-y;
}
.owl-carousel .owl-stage-outer{
    position: relative;
    overflow: hidden;
}
.owl-carousel .owl-item{
    min-height: 1;
    float: left;
    /* -webkit-backface-visibility: hidden; */
}
.service .single-service{
    flex-basis: 25%;
    position: relative;
}

.owl-carousel .owl-item img{
    display: block;
    width: 100%;
}


.service .single-service .service-hover{
    background-color: #ff817e;
    position: absolute;
    opacity: 0.8;
    visibility: hidden;

}
.service .single-service:hover .service-hover{
    /* background-color: #ff817e; */
    justify-content: center;
    visibility: hidden;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 300ms ease-in-out;
    /* opacity: 0; */
    visibility: visible;
    width: 100%;
    height: 100%;
}
.service .single-service .service-hover img{
    margin: 0 auto 20px;
    width: 47px;
}
.service .single-service .service-hover span{
    color: #fff;
    display: block;
    font-family: "Rufina", serif;
    font-weight: 700;
}

/* procedures */

.procedures{
    position: relative;
}

article{
    display: block;
}
.post{
    border: 1px solid #e3e6ea;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.post img{
    margin-bottom: 35px;
}
.post h4,
.post h4 a{
    color: #263a41;
    font-size: 22px;
}


.post h4{
    margin-bottom: 22px;
    font-family: 'Rufina', serif;
    font-weight: 700;
}
.post p {
    margin-bottom: 40px;
}

.post .btn {
    background-color: #30383b;
    margin-bottom: 30px;
    padding: 15px;
}
.post .btn:hover{
    color: #fff;
    background-color: #ff817e;
}

/* testimonial */

.swiper {
    background-color: #fff9f8;
    width: 100%;
    height: 100%;
}

.owl-carousel .owl-stage{
    position: relative;
    touch-action: manipulation;
}
.swiper .single-tst {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

.swiper .single-tst img {
    margin: 0 auto 45px;
    width: 59px;
}
  

.swiper .single-tst p {
    color: #263a41;
    font-family: "Rufina", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 43px;
}

.swiper .single-tst .client-info .thumb {
    border-radius: 50%;
    margin-bottom: 22px;
    height: 76px;
    width: 76px;
}

.swiper .single-tst .client-info p {
    font-size: 22px;
    margin-bottom: 70px;
}
.swiper .single-tst .client-info p span {
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
}
/* .owl-carousel .owl-dots.disabled, 
.owl-carousel .owl-nav.disabled {
    display: none;
} */


/* .swiper button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
}
.swiper button.owl-dot:hover{
    border: 1px solid;
}

.swiper .owl-dots {
    text-align: center;
}

.swiper .owl-dots span {
    background-color: #ffc3c2;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    height: 8px;
    width: 8px;
    cursor: pointer;
    border: 1px solid;
} */
span.swiper-pagination-bullet{
    background-color: #ff817e;
}
/* team */


.team .single-memb{
    position: relative;
    width: 100%;
}
.team .single-memb .memb-details{
    background-color: #fff;
    box-shadow: 0 5px 20px #f0f0f0;
    max-width: calc( 100% - 60px);
    margin: -50px auto 0;
    padding: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    z-index: 1;
    width: 100%;
    transform: translateX(-50%);
}

.team .single-memb .memb-details h6{
    color: #263a41;
    font-size: 22px;
    margin-bottom: 0;
    font-family: "Rufina", serif;
    font-weight: 700;
}
.team .single-memb .memb-details span{
    display: inline-block;
    margin-bottom: 15px;
}
.team .single-memb .memb-social{
    /* position: relative; */
    margin-top: -60px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out
    
}

.team .single-memb .memb-social a {
    border: 1px solid #30383b;
    border-radius: 50%;
    color: #30383b;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    line-height: 30px;
    margin: 0 5px;
    height: 30px;
    width: 30px;
}
.single-memb:hover .memb-social{
    margin-top: 0;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-in-out
}

.team .single-memb .memb-social a:hover{
    color: #fff;
    border-color: #ff817e;
    background-color: #ff817e;
}

/* appointment */

.appointment .appointment-wrap{
    display: flex;
    flex-wrap: wrap;
}

.appointment .appointment-wrap figure{
    flex-basis: 40%;
    margin: 0;
    display: block;
}

.appointment .appointment-wrap .appointment-form{
    flex-basis: 60%;
    padding-left: 100px;
    background-color: #fff9f8;
}

.appointment .appointment-wrap .appointment-form form {
    max-width: 650px;
    position: relative;
    top: 50%;
    
    transform: translateY(-50%);
}

.appointment-form .form-field{
    position: relative;
    width: 100%;
}

button input{
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.appointment-form .form-field.half-width input, 
.appointment-form .form-field.half-width .select-field {
    width: 49%;
}
.appointment-form .form-field input, 
.appointment-form .form-field textarea, 
.appointment-form .form-field select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d4d3d3;
    color: #999;
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
}

.appointment-form .form-field select {
    appearance: none;
    text-transform: uppercase;
}
select{
    word-wrap: normal;
}

textarea {
    overflow: auto;
    resize: vertical;
}

#amessage{
    margin-top: 15px;
    color: green;
}

/* contact */

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

.contact address {
    color: #888;
    font-size: 14px;
    font-weight: 400;
    padding-left: 80px;
    position: relative;
}

.contact address span{
    background-color: #ff817e;
    border-radius: 50%;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
}

.contact address a {
    color: #888;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.contact .contact-form{
    width: 100%;
}

.contact .contact-form input, .contact .contact-form textarea {
    border: 1px solid #e3e6ea;
    display: block;
    padding: 10px 20px;
    margin-bottom: 25px;
    width: 100%;
}

.contact .contact-form textarea {
    resize: none;
}

.text-center{
    text-align: center !important;
}

.col-12{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer .foo-logo{
    margin: 0 auto;
}

.footer .foo-nav {
    margin: 30px 0;
    position: relative;
    display: block;
}



.footer .foo-nav li a {
    color: #263a41;
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px;
}

.footer .foo-nav li a:hover{
    color: #ff817e;
}

.footer .foo-social {
    margin-bottom: 30px;
}

.footer .foo-social a {
    border-right: 1px solid #b1b4bb;
    color: #3a414e;
    display: inline-block;
    font-size: 14px;
    line-height: .8;
    padding: 0 10px;
}

.footer .foo-social a:hover{
    color: #ff817e;
}

.footer .copyright {
    color: #888;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.footer .copyright a {
    color: #ff817e;
}


/* about.html */

.header{
    position: relative;
}